:root {
  --mainGreen: #2d8e3a;
  --secondaryGreen: rgb(166, 206, 114);
  --mainGrey: #777673;
  --mainWhite: #fff;
  --mainDark: #222;
}

body {
  background: var(--mainWhite);
  color: var(--mainDark);
  font-family: Verdana, Geneva, Tahoma, sans-serif !important;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Courier New", Courier, monospace !important;
  letter-spacing: 0.25rem !important;
}
.text-green {
  color: var(--mainGreen);
}
.cart-icon {
  cursor: pointer;
  color: var(--mainGreen);
  font-size: 2rem;
}

.logo {
  max-width: 50%;
}
.default-background,
.about-background {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(rgba(1, 39, 18, 0.5), rgba(1, 39, 18, 0.5));
  background-position: center;
  background-size: cover;
}
.about-background {
  min-height: 40vh;
}
.btn-green {
  color: var(--mainGreen);
  border-color: var(--mainGreen);
}
.btn-green:hover {
  background: var(--mainGreen);
  color: var(--mainWhite);
}
.footer {
  background: var(--mainWhite);
}
